body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1f2937;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #e5e7eb;
    margin-top: 30px;
    font-size: 18px;
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px 30px 0px;
}

#sign {
    background: #3882f6;
    color: white;
    padding: 5px;
    border-radius: 5px;
    border-color: white;
    width: 100px;
}

.book {
    display: flex;
    background: #3882f6;
    padding: 10px;
    border-radius: 5px;
    width: 900px;
    align-items: flex-end;
    justify-content: center;
    gap: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#goat {
    display: flex;
    flex-direction: column;
}

.bee {
    font-size: 30px;
    font-weight: 600;
    color: white;
}

.yoo {
    color: #e5e7eb;
}

.images {
    display: flex;
    justify-content: center;
    gap: 20px;
}

img {
    height: 150px;
    width: 130px;
}

.extra {
    max-width: 130px;
}

.quotes {
    display: flex;
    background: #e5e7eb;
    margin: 30px 0px 30px 0px;
    align-items: center;
    padding: 35px;
    flex-direction: column;
}

#gab {
    display: flex;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    max-width: 700px;
    font-weight: 300;
}

#odin {
    color: #1f2937;
    width: 700px;
    font-size: 36px;
    font-weight: 600;
    max-width: 700px;
    display: flex;
    justify-content: flex-end;
}

header {
    display: flex;
    flex-direction: column;
    background: #1f2937;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    align-items: center;
}

.top {
    display: flex;
    justify-content: space-between;
    width: 910px;
}

.logo {
    height: 100px;
}

.links {
    display: flex;
    gap: 8px;
    margin-top: 7px;
}

.meme {
    background: white;
    min-width: 400px;
    height: 250px;
}

.smt {
    display: flex;
    gap: 60px;
}

.cord {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex-wrap: wrap;
    max-width: 450px;
}

.info {
    font-weight: 900;
    font-size: 36px;
    text-align: center;
    color: #1f2937;
    margin: 10px;
}

#main {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

#button {
    background: #3882f6;
    color: white;
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: 100px;
}

.middle {
    color: #e5e7eb;
    font-size: 18px;
}